body {
}

#app {
  max-width: fit-content;
  margin: auto;
}

h1 {
  font-size: 4rem;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  border: 5px solid #000; /* Bordure extérieure unique */
  width: fit-content;
}

#board > div {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 3rem;
  cursor: pointer;
}

#board > div:not(:nth-child(-n + 3)) {
  border-top: 5px solid #000;
}

#board > div:not(:nth-child(3n + 1)) {
  border-left: 5px solid #000;
}
