body {
}

#app {
  max-width: fit-content;
  margin: auto;
}

h1 {
  font-size: 4rem;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  border: 5px solid #000; /* Bordure extérieure unique */
  width: fit-content;
}

#board > div {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 3rem;
  cursor: pointer;
}

#board > div:not(:nth-child(-n + 3)) {
  border-top: 5px solid #000;
}

#board > div:not(:nth-child(3n + 1)) {
  border-left: 5px solid #000;
}

#restart {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#restart > button {
  background-color: gainsboro;
  border: grey solid 1px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

#restart > button:hover {
  filter: brightness(105%);
}

#info {
  font-size: 1.2rem;
  height: 20px;
  margin-bottom: 12px;
  text-align: center;
}
